{% extends 'layout/_layout.html' %}

{% block css %}


{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <div class='btn-group btn-group-xs'>
            <a type="button" class="btn btn-default btn-arrow-right btn-arrow-left:before" style="color:#1c5a9c; padding-left:10px"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard</a>
            <a type="button" class="btn btn-default btn-arrow-right" style="color:#1c5a9c;" href="/server.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> User Center</a>
            <a type="button" class="btn btn-default btn-arrow-right" style="color:#1c5a9c;" href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Url Add</a>
        </div>
    </ol>
    <div class="col-sm-6" style="padding: 20px 8px;">

        <form class="form-horizontal" id="permission_add_form" role="form" action="/user_center/permission-json.html" method="post">

            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td style="line-height:34px;" align="right">Url Name : *</td>
                    <td>
                        <input type="text" class="form-control" name="url_name" placeholder="Enter url name...">
                    </td>
                </tr>
                <tr>
                    <td style="line-height:34px;" align="right">Url Method : *</td>
                    <td>
                        <select class="form-control" name="url_method">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="line-height:34px;" align="right">Memo : </td>
                    <td>
                        <input type="text" class="form-control" name="url_memo" placeholder="Enter url memo...">
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <div class="col-sm-2">
                    <a type="submit" class="btn btn-primary" onclick="permission_create_fn()"><i class="fa fa-check"></i> Create Url Permission</a>
                </div>
            </div>

        </form>

    </div>



{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/cores.js"></script>

    <script>
        $(function () {
            $.initMenu('#menu_server');
        });

        function permission_create_fn() {
{#            if ($('input[name="app_name"]').val().length == 0) {#}
{#                alert("Please add app name.");#}
{#                return false;#}
{#            }#}
            $("#permission_add_form").submit()
        }

    </script>
{% endblock %}