{% extends 'layout/_layout.html' %}

{% load count_instance %}

{% block css %}

    <style>
        .guige {
            margin-top: 10px;
        }

        .guige-table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        .guige-table .title {
            background: #f5fafe;
            text-align: left;
            font-weight: bold;
            line-height: 32px;
            height: 32px;
            font-family: "微软雅黑";
            border-right: 1px solid #dcdcdc;
            border-left: 2px solid #0488cd;
        }

        .guige-table td, .content .guige-table th {
            border: 1px solid #dcdcdc;
            line-height: 30px;
            height: 30px;
            padding: 0 10px;
            border-top: 1px solid #dcdcdc;
        }

        .guige-table .body-left {
            width: 126px;
            font-weight: normal;
            text-align: right;
            color: #666;
        }

        .guige-table .body-right {
            color: #333;
        }

    </style>

{% endblock %}

{% block conent %}

    <ol class="breadcrumb" style="margin-bottom: 0;">
        <div class='btn-group btn-group-xs'>
            <a type="button" class="btn btn-default btn-arrow-right btn-arrow-left:before" style="color:#1c5a9c; padding-left:10px"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard</a>
            <a type="button" class="btn btn-default btn-arrow-right" style="color:#1c5a9c;" href="/server.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Application</a>
            <a type="button" class="btn btn-default btn-arrow-right" style="color:#1c5a9c;" href="{% url 'server-config' response.data.id %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{ response.data.name }}</a>
            <a type="button" class="btn btn-default btn-arrow-right" style="color:#1c5a9c;" href="{% url 'server-config' response.data.id %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Basic Info</a>
        </div>
    </ol>

    <div style="padding: 10px 8px;">

            <!-- nav start -->
            {% include 'include/server_config_header.html' %}
            <!-- nav end -->

        <div class="row" style="padding-top: 10px">
            <div class="col-md-12">

                <div class="guige">
                    <table class="guige-table">
                        <tbody>

                        <tr>
                            <th colspan="5" class="title f14 th"><span class="padding-l-8">基础信息</span></th>
                        </tr>
                        <tr>
                            <td>名称</td>
                            <td colspan="4">值</td>
                        </tr>
                        <tr>
                            <td>Application Name</td>
                            <td colspan="4">xbet_test</td>
                        </tr>
                        <tr>
                            <td>System</td>
                            <td colspan="4">Xbet</td>
                        </tr>
                        <tr>
                            <td>Application Type</td>
                            <td colspan="4">Java</td>
                        </tr>
                        <tr>
                            <td>Group Number</td>
                            <td colspan="4">3</td>
                        </tr>
                        <tr>
                            <td>Instance Number</td>
                            <td colspan="4">6</td>
                        </tr>
                        <tr>
                            <td>Leader</td>
                            <td colspan="4">admin</td>
                        </tr>
                        <tr>
                            <td>Member</td>
                            <td colspan="4">user1, user2, user3, test1, test2</td>
                        </tr>

                        </tbody>
                    </table>

                </div>

                <div class="guige">
                    <table class="guige-table">
                        <tbody>

                        <tr>
                            <th colspan="5" class="title f14 th"><span class="padding-l-8">System Info</span></th>
                        </tr>

                        <tr>
                            <td style="width:500px">Docker Compose Config File Path</td>
                            <td colspan="4">/opt/compose-conf/FPMS/aaaa/</td>
                        </tr>

                        <tr>
                            <td style="width:500px">Docker Container Logs Path</td>
                            <td colspan="4">/opt/container-logs/FPMS/aaaa/</td>
                        </tr>

                        <tr>
                            <td style="width:500px">Docker Container Logs Path</td>
                            <td colspan="4">/opt/container-logs/FPMS/aaaa/</td>
                        </tr>

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>



{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/cores.js"></script>

    <script>

        $(function () {
            $.initMenu('#menu_asset');
            // 激活头部菜单
            $("#basic_info").addClass('active')
        });

    </script>

{% endblock %}